node_modules
src
gyp
build
!build/Release/*.node
.npmignore
.gitignore
.babelrc
*.log


.nyc_output
.vscode
.nycrc
.travis.yml
.eslintrc
.gitignore
.npmignore
test.js
coverage
tmp
.tmp
node_modules
*.log
npm-debug.log*
*.swp
publish.sh